<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
				
<mapper namespace="com.hoperun.mapper.EmployeeMapper">
	
	<!-- 添加 -->
	<insert id="insert" parameterType="employee">
		insert 
			emp 
				(ename, job, mgr, hiredate, sal, comm, deptno) 
		values 
			(#{ename}, #{job}, #{mgr}, #{hiredate}, #{sal}, #{comm}, #{deptno})
	</insert>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="integer">
		delete 
		from
			emp 
		where 
			empno = #{empno}
	</delete>
	
	<!-- 修改 -->
	<update id="update" parameterType="employee">
		update 
			emp 
				<set>
					<include refid="update_sql"></include>
				</set>
		where
			empno=#{empno}
	</update>
	
	<!-- 查询所有 -->
	<select id="selectAll" resultType="employee">
		select 
			empno, ename, job, mgr, hiredate, sal, comm, deptno 
		from 
			emp
	</select>
	<!-- 根据id查一个 -->
	<select id="selectByEmpno" parameterType="integer" resultType="employee">
		select 
			empno, ename, job, mgr, hiredate, sal, comm, deptno 
		from 
			emp
		where
			empno=#{empno}
	</select>
	<!-- 模糊查询 -->
	<select id="selectByLike" parameterType="employee" resultType="employee">
		select 
			empno, ename, job, mgr, hiredate, sal, comm, deptno 
		from 
			emp
		<where>
			<include refid="select_like_sql"></include>
		</where>
	</select>
	
	<!-- 模糊查询条件部分SQL片段 -->
	<sql id="select_like_sql">
		<if test="empno != null and empno != ''">
			and empno like '%${empno}%'
		</if>
		<if test="ename != null and ename != ''">
			and ename like '%${ename}%'
		</if>
		<if test="job != null and job != ''">
			and job like '%${job}%'
		</if>
		<if test="mgr != null and mgr != ''">
			and mgr like '%${mgr}%'
		</if>
		<if test="hiredate != null and hiredate != ''">
			and hiredate like '%${hiredate}%'
		</if>
		<if test="sal != null and sal != ''">
			and sal like '%${sal}%'
		</if>
		<if test="comm != null and comm != ''">
			and comm like '%${comm}%'
		</if>
		<if test="deptno != null and deptno != ''">
			and deptno like '%${deptno}%'
		</if>
	</sql>
	
	<!-- 更新部分SQL片段 -->
	<sql id="update_sql">
		<if test="ename != null and ename != ''">
			ename = #{ename},
		</if>
		<if test="job != null and job != ''">
			job = #{job},
		</if>
		<if test="mgr != null and mgr != ''">
			mgr = #{mgr},
		</if>
		<if test="hiredate != null and hiredate != ''">
			hiredate = #{hiredate},
		</if>
		<if test="sal != null and sal != ''">
			sal = #{sal},
		</if>
		<if test="comm != null and comm != ''">
			comm = #{comm},
		</if>
		<if test="deptno != null and deptno != ''">
			deptno = #{deptno},
		</if>
	</sql>
	
</mapper>